.userclaims legend {
    margin: 0 auto;
    padding: 1em 2em;
    border: 1px solid var(--colour);
    border-radius: 10px;
    position: relative;
}

.userclaims legend:before {
    content: "";
    width: calc(100% + 2px);
    height: calc(50% + 2px);
    background-color: var(--background);
    position: absolute;
    left: -1px;
    top: 50%;
}

.userclaims h2 {
    margin: 0;
    position: relative;
}

.claimstats-filter-container {
    border: 1px solid currentColor;
    border-radius: 1em;
    margin: 2em 0 0 2em;
    padding: 0.8em;
    display: flex;
    gap: 1em;
    width: 95vw;
}

.claimstats-container,
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.claimstats-container {
    margin: 1em 1em 0 1em;
    padding: 1em 1em 0 1em;
}

.main-container {
    width: 100vw !important;
}

.claimstats-container,
.claimstats-filter-container {
    gap: 2em;
    overflow: hidden;
}

.claiminfo {
    padding: 0 1em;
}

.claiminfo p {
    margin: 0.5em;
}

.claimstats-legend {
    display: flex;
    flex-direction: row;
}

.claimstats-legend svg {
    position: relative;
}

.hidden {
    display: none;
}