.userclaims th {
    background-color: #f08080;
    /* TODO: Make variable that also works on light mode */
    justify-content: center;
}

.userclaims th,
.userclaims td {
    border: 1px solid var(--graph-accent);
    padding: 6px 10px;
}

.userclaims {
    border: 1px solid var(--graph-accent);
    border-radius: 2px;
    border-collapse: collapse;
    width: 50vw;
}

.claimstats-container {
    display: flex;
    justify-content: center;
}

.path-row {
    text-align: center;
}

.userclaims tbody td.collapsible {
    display: none;
}

.hidden {
    display: none;
}