.userclaims legend {
    margin: 0 auto;
    padding: 1em 2em;
    border: 1px solid var(--colour);
    border-radius: 10px;
    position: relative;
}

.userclaims legend:before {
    content: "";
    width: calc(100% + 2px);
    height: calc(50% + 2px);
    background-color: var(--background);
    position: absolute;
    left: -1px;
    top: 50%;
}

.userclaims h1 {
    margin: 0;
    position: relative;
}

.claimstats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    margin: 1em 0 0 1em;
    overflow: hidden;
    padding: 1em;
    width: 100%;
}

.claiminfo {
    padding: 0 1em;
}

.claiminfo p {
    margin: 0.5em;
}

.claimstats-legend {
    display: flex;
    flex-direction: row;
}

.claimstats-legend svg {
    position: relative;
}