rect.hasClick {
	cursor: pointer;
}

rect+text,
rect+use,
rect+use+text {
	pointer-events: none;
}

.treeMap rect.box {
	fill-opacity: 0.75;
}

.treeMap rect.box:not(.hasClick):hover {
	cursor: not-allowed;
}

.treeMap rect.hasClick:hover {
	fill-opacity: 0.8;
}

#breadcrumbs {
	list-style: none;
	padding: 0;
}

#breadcrumbs li {
	display: inline-block;
}

#breadcrumbs li:first-child {
	padding: 0 0.5em;
}

#breadcrumbs li:not(:first-child):after {
	content: "/";
	display: inline-block;
	padding: 0 0.5em;
}