.graph-container,
.log-chart-container {
    display: block;
    border: solid var(--graph-border);
    border-width: 1px;
    border-radius: 10px;
    margin: 2vw;
    overflow: hidden;
    padding: 1em 2em 1em 2em;
    width: 92vw !important;
}

.graph-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

.graph-wrapper {
    padding-left: 0.5em;
    padding-right: 1em;
}

.graphA {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: repeating-linear-gradient(to right, var(--graph-border) 0px, var(--graph-border) 1px, transparent 1px, transparent 10%);
    background-size: calc(100% - 1px) 100%;
    width: 100%;
}

.graphRow {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
}

.graphA p {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0.5em;
    font-size: x-small;
}

.graphAxisX {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
    font-size: 0.8rem;
    color: var(--currentColour);
    padding-left: 1px;
}

.graphAxisX span:first-child {
    justify-self: start;
}

.graphAxisX span:last-child {
    justify-self: end;
}

.graphAxisY {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding: 0.5em;
}

.graphA> :first-child {
    margin-top: 15px;
}

.graphA> :last-child {
    margin-bottom: 15px;
}

.graphB {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.graph-container h2 {
    text-align: center;
    margin-top: 0.3em;
}

#graphKey {
    justify-content: center;
    display: flex;
    gap: 3em;
}

#graphKey>div:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
}

#graphKey>div:first-child::before {
    background-color: var(--graph-unplanned);
}

#graphKey>div:nth-child(2)::before {
    background-color: var(--graph-nobackup);
}

#graphKey>div:nth-child(3)::before {
    background-color: var(--graph-backup);
}

.bar-unplanned {
    background-color: var(--graph-unplanned);
}

.bar-unplanned:hover {
    background-color:
        color-mix(in srgb, var(--graph-unplanned) 80%, transparent);
}

.bar-nobackup {
    background-color: var(--graph-nobackup);
}

.bar-nobackup:hover {
    background-color:
        color-mix(in srgb, var(--graph-nobackup) 80%, transparent);
}

.bar-backup {
    background-color: var(--graph-backup);
}

.bar-backup:hover {
    background-color:
        color-mix(in srgb, var(--graph-backup) 80%, transparent);
}

.log-chart-container {
    display: flex !important;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.scaleToggle {
    padding-bottom: 0.3em;
}