button.actionButton {
  border: 0;
  background: none;
}

button.actionButton svg {
  width: 1em;
  height: 1em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.affectingRules {
  gap: 1em;
}

.card-container {
  border: 1px solid var(--subtleBorder);
  border-radius: 12px;
  padding: 16px;
  background: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin: 0.2em;
  color: var(--colour);
}

.card-header {
  margin-bottom: 8px;
}

.card-title {
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  color: var(--colour);
}

.search-input {
  width: 33%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid var(--subtleBorder);
  background: var(--subtleBG);
  color: var(--colour);
}

.rule-section {
  border-radius: 8px;
  background: var(--tableEventBG);
  padding: 2px 4px;
}

.rule-section summary {
  list-style: none;
  padding: 4px 6px;
  user-select: none;
}

.summary-header {
  padding: 4px 6px;
  user-select: none;
}

.tree-children {
  margin-left: 20px;
}

.load-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: auto;
}
.load-button:hover svg use {
  color: var(--inputAccent) !important;
  transition: color 0.15s ease;
}

.folder-button,
.load-button svg {
  width: 16px !important;
  height: 16px !important;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-bottom: -0.25em;
}

.dir-title,
.folder-button {
  cursor: default !important;
}

.rule-badge {
  background: var(--inputAccent);
  color: var(--colourKeyFont);
  padding: 2px 6px;
  border-radius: 12px;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: default;
  transition: background 0.2s ease;
}

.expand-indicator {
  display: inline-block;
  width: 1.2em;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  transition: transform 0.15s ease, color 0.15s ease;
}

.expand-indicator:hover {
  color: var(--inputAccent);
  transition: color 0.15s ease;
}

#metadataInput {
  display: none;
}

select:has(option:checked[value="manualbackup"]) ~ #metadataInput {
  display: unset;
}
