button.actionButton {
	border: 0;
	background: none;
}

button.actionButton svg {
	width: 1em;
	height: 1em;
}

::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}

.affectingRules {
	gap: 1em;
}

.card-container {
	border: 1px solid var(--subtleBorder);
	border-radius: 12px;
	padding: 16px;
	background: var(--background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	margin: 0.2em;
	color: var(--colour);
}

.card-container>details {
	padding-left: 1.2em;
}

.card-header {
	margin-bottom: 8px;
}

.card-title {
	text-align: center;
	margin: 0;
	font-size: 1.25rem;
	color: var(--colour);
}

.rule-section {
	border-radius: 8px;
	background: var(--tableEventBG);
}

.rule-section summary {
	list-style: none;
	padding: 4px 6px;
	user-select: none;
	cursor: pointer;
}

.rule-section summary:hover {
	background-color: var(--tableHoverBG);
}

details.rule-section>summary:before {
	display: inline-block;
	content: "+";
	text-align: center;
	font-weight: bold;
	font-family: monospace;
	margin-right: 4px;
	color: var(--colour);
	cursor: pointer;
	user-select: none;
	transition: color 0.15s ease;
}

details[open].rule-section>summary:before {
	content: "–";
}

details.rule-section>summary:not(:has(button:hover)):hover::marker {
	color: var(--inputAccent);
}

.summary-header {
	padding: 4px 6px;
	user-select: none;
}

.tree-children {
	margin-left: 20px;
}

.load-button {
	background: none;
	border: none;
	padding: 0;
	margin-left: auto;
}

.load-button:hover svg use {
	color: var(--inputAccent) !important;
	transition: color 0.15s ease;
}

.folder-button,
.load-button svg {
	width: 16px !important;
	height: 16px !important;
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin-bottom: -0.25em;
}

.rule-badge {
	color: var(--rule-badge-text);
	margin-right: 6px;
	margin-bottom: 4px;
	word-break: keep-all;
	display: inline-block;
}

.rule-badge .file-type {
	background: var(--inputAccent);
	color: var(--rule-badge-text);
	padding: 4px 8px;
	border-radius: 10px 0 0 10px;
}

.file-summary {
	background: var(--rule-badge-bg);
	padding: 4px 8px;
}

.rule-badge .action-pill {
	padding: 4px 8px;
	border-radius: 0 10px 10px 0;
	white-space: nowrap;
}

.rule-badge .action-pill[data-action="No Backup"] {
	background-color: var(--action-no-backup-bg);
	color: var(--action-no-backup-text);
}

.rule-badge .action-pill[data-action="IBackup"] {
	background-color: var(--action-ibackup-bg);
	color: var(--action-ibackup-text);
}

.rule-badge .action-pill {
	background-color: var(--action-manual-bg);
	color: var(--action-manual-text);
}

#metadataInput {
	display: none;
}

#addEdit span+label {
	width: auto;
}

#addEdit select {
	margin: 3px 0;
}

#addEdit button,
#fofnPaste button,
#confirm button,
#addEdit select {
	background-color: var(--button-background);
	color: var(--button-colour-addEdit);
	padding: 3px 7px;
	border: 1px solid var(--button-border);
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
}

button+button {
	margin-left: 3px;
}

label+input[type=checkbox] {
	margin-left: 0;
}

#addEdit button:hover,
#confirm button:hover,
#addEdit select:hover {
	background-color: var(--button-background-hover);
	border-color: var(--button-border-hover);
}

#addEdit button:active,
#fofnPaste button:active,
#confirm button:active {
	background-color: var(--button-background-active);
}

button:disabled,
select:disabled {
	background-color: var(--button-background-disabled) !important;
	color: var(--button-colour-disabled) !important;
	border-color: var(--button-border-disabled) !important;
	cursor: not-allowed !important;
}

.overwrite {
	color: var(--overwritecolour);
}

.overwriteDirDetail {
	color: var(--dirDetailscolour);
}

.claim {
	color: var(--claimcolour);
}

.directory {
	color: var(--directorycolour);
}

#addEdit,
#confirm {
	background: var(--background);
	color: var(--color);
}

#confirm {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#confirm>div {
	flex: 0 0 100%;
	margin-bottom: 10px;
	text-align: center;
}

#addEdit td {
	vertical-align: top;
	width: 50%;
	padding-top: 1em;
}

#addEdit td:first-child,
#addEdit th:first-child {
	border-right: 1px solid var(--subtleBorder);
}

#addEdit table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

#addEdit thead th {
	border-bottom: 1px solid var(--subtleBorder);
	text-align: left;
}

#addEdit th:last-child,
#addEdit td:last-child {
	padding-left: 1em;
}

.tooManyFiles {
	color: var(--overwritecolour);
}

#fofnKey div {
	text-align: right;
}

#fofnKey div:after {
	content: "";
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	border: 1px solid currentColor;
	margin-left: 0.5em;
	margin-bottom: -0.1em;
}

#fofnKey div:first-child:after {
	background-color: var(--claimcolour);
}

#fofnKey div:nth-child(2):after {
	background-color: var(--dirDetailscolour);
}

#fofnKey div:nth-child(3):after {
	background-color: var(--overwritecolour);
}

#fofnKey div:nth-child(4):after {
	background-color: var(--directorycolour);
}

#fofnPaste {
	background-color: var(--background);
}

#fofnPaste textarea {
	height: 200px;
	background-color: var(--background);
	color: var(--colour);
	border: 3px solid var(--subtleBorder);
}

dialog {
	border-radius: 0.7em;
	border-color: var(--subtleBorder);
}

select:not(:has(option:checked[value="backup"])):not(:has(option:checked[value="nobackup"]))~#metadataInput {
	display: unset;
}

#rules td[data-override],
.file-type[data-override] {
	font-weight: bold;
}

.hoverable {
	color: var(--colour);
	font-family: Arial Black;
	font-weight: bold;
	font-size: 18px;
	opacity: 0.7;
	text-align: right;
	cursor: default;
	position: absolute;
	/* bottom: 10px; */
	right: 10px;
}