button.actionButton {
  border: 0;
  background: none;
}

button.actionButton svg {
  width: 1em;
  height: 1em;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.affectingRules {
  gap: 1em;
}

.card-container {
  border: 1px solid var(--subtleBorder);
  border-radius: 12px;
  padding: 16px;
  background: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin: 0.2em;
  color: var(--colour);
}

.card-header {
  align-items: center;
  margin-bottom: 8px;
}

.card-title {
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  color: var(--colour);
}

.search-input {
  width: 33%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid var(--subtleBorder);
  background: var(--subtleBG);
  color: var(--colour);
}

.rules-container {
  overflow-y: auto;
  padding-right: 4px;
  font-size: 14px;
  color: var(--colour);
}

.rule-section {
  border-radius: 4px;
  background: var(--tableEventBG);
  padding: 2px 4px;
}

.rule-section summary {
  list-style: none;
  cursor: pointer;
  padding: 4px 6px;
  user-select: none;
}

.rule-section summary:hover {
  background: var(--tableHoverBG);
  color: var(--tableHoverFont);
}

.summary-header {
  padding: 4px 6px;
  user-select: none;
}

.summary-header:hover {
  background: var(--tableHoverBG);
  color: var(--tableHoverFont);
}

.tree-children {
  position: relative;
  margin-left: 20px;
}

.tree-children::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 1px;
  background: var(--subtleBorder);
}

.tree-children > details {
  position: relative;
}

.tree-children > details::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 10px;
  background: var(--subtleBorder);
}

.load-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

.folder-button,
.load-button svg {
  width: 16px !important;
  height: 16px !important;
  padding-left: 0.25em;
  padding-right: 0.25em;
  display: inline-block;
  margin-bottom: -0.25em;
}

.rule-badge {
  background: var(--inputAccent);
  color: var(--colourKeyFont);
  padding: 2px 6px;
  border-radius: 12px;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: default;
  transition: background 0.2s ease;
}

.rule-badge:hover {
  background: color-mix(in srgb, var(--inputAccent) 50%, var(--background));
}

#metadataInput {
  display: none;
}

select:has(option:checked[value="manualbackup"]) ~ #metadataInput {
  display: unset;
}
