button.actionButton {
	border: 0;
	background: none;
}

button.actionButton svg {
	width: 1em;
	height: 1em;
}

::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}

.affectingRules {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: 1em;
}