.summary {
	margin: 1em;
	width: calc(100% - 2em) !important;
}

.summary thead td:not(:empty) {
	text-align: left;
}

.summary thead td:not(:empty):before {
	content: "Claimed By: ";
	font-weight: bold;
}