name: Go Checks

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  format-check:
    name: gofmt
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run gofmt
        run: gofmt -l . | grep . && exit 1 || exit 0

  run-tests:
    name: go test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run Tests
        run: go test ./...

  frontend-embed-check:
    name: frontend embed check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Run embed check
        run: bash -c '[ "$(stat -c %Y frontend/index.html.gz)" -ge "$(find frontend/src/ -type f -printf "%T@\n" | sort | tail -n1 | cut -d'.' -f1)" ]'